name: Release

on:
    workflow_run:
        workflows: [CI]
        types: [completed]
        branches: [master]

jobs:
    release:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}

        steps:
            - name: 'Checkout'
              uses: 'actions/checkout@v4'

            - name: 'Setup Node.js'
              uses: 'actions/setup-node@v4'
              with:
                  node-version: 20.x

            - name: 'Install dependencies'
              run: npm i -g semantic-release@22 @semantic-release/changelog @semantic-release/git @semantic-release/changelog @semantic-release/commit-analyzer @semantic-release/release-notes-generator

            - name: 'Release'
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: npx semantic-release
